{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    TODO
    <br>
    All Posts
    <br>
    {% if user.is_authenticated %}
    <form action="{% url 'post' %}" method="POST">
        {% csrf_token %}
        {{ new_post }}
        <input type="submit" value="submit" >
    </form>
    {% endif %}

    <!--display all posts-->
   
    
    <div class="main">
        {% for post in allposts %}
        <div class="post-details">
            <h2><a href="{% url 'profile' post.created_by.id %}">{{ post.created_by }}</a></h2>
            <br>
            <p>{{ post.content }}</p>
            <i>{{ post.timestamp }}</i>

        </div>
        {% endfor %}
    </div>
    
    
    
{% endblock %}