{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if follow %}
    {% if is_follow %}
        <a href="{% url 'follow' user_id %}">unfollow</a>
    {% else %}
        <a href="{% url 'follow' user_id %}">follow</a>
    {% endif%}
    {% endif %}
    <h1>following : {{ following }}</h1>
    <h1>followers: {{ followers }}</h1>
    <div id="user_posts">
    {% for post in allposts %}
    <div class="userpost">
        <h2>{{ post.created_by }}</h2>
        {% if post.image %}
            <img src="{{ post.image.url }}">
        {% endif %}
   
        <p>{{ post.content }} </p>
        <i>{{ post.timestamp }}</i>
    </div>
    
    {% endfor %}
</div>
{% endblock%}